<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DefaultFolder" value="C:\Users\Bassie\Pictures\Camera\Nikon\17082017"/>
    <add key="DefaultSaveFolder" value="C:\Users\Bassie\Desktop\test2"/>
    <add key="ZoomSpeed" value="0.1"/>
  </appSettings>
</configuration>